<div class="container mt-4">
  <div class="card">
      <div class="card-header">

          <button class="btn btn-sm btn-danger" routerLink="/store">
            <i class="fa fa-times"></i>
          </button>

      </div>
      <div class="card-body">
          <h5 class="card-title">Purchase Discount</h5>
          <p class="card-text">Coupon Code:</p>
          <button class="btn btn-primary">SUMMERSALE10</button>
          <p class="card-text"> Use this coupon Code for getting 10% Discount in your Purchase</p>
      </div>
  </div>
</div>

