<div class="container mt-4">
  <h3 class="text-center">Product Details</h3>
  <table class="table table-striped table-bordered table-hover">
      <thead>
          <tr class="table-dark">
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td scope="row">{{ productDetails?.id }}</td>
              <td>{{ productDetails?.name }}</td>
              <td>{{ productDetails?.category }}</td>
              <td>{{ productDetails?.description }}</td>
              <td>{{ productDetails?.price }}</td>
          </tr>

      </tbody>

  </table>
  <button class="btn btn-primary m-1" (click)="backButton()">
    Back
  </button>
</div>
